.main-converter {
  display: grid;
  gap: 0.5rem;
  border-radius: var(--bor-rad);
  box-shadow: var(--shadow-1);
  padding: 1rem 0;

  & fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  & label {
    font-size: 1rem;
    font-weight: bold;
  }

  & input {
    font-family: var(--sans-serif);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    text-align: center;
  }

  & select {
    width: 100%;
  }
}

.currency-selection {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.selector-wrapper {
  text-align: center;
}

.main-converter {
  & .convert-form {
    display: grid;
    grid-template-areas:
      'b b'
      'q q'
      'f f'
      'd d';
    @media (min-width: 600px) {
      grid-template-areas:
        'b q'
        'f f'
        'd d';
    }
  }

  & .base {
    grid-area: b;
  }
  & .quote {
    grid-area: q;
  }
  & .fee,
  & .date {
    padding: 0.5rem;
    font-size: 1.1rem;
  }
  & .fee {
    grid-area: f;
    justify-self: center;
    border-radius: var(--bor-rad);
    & input {
      width: 3rem;
      letter-spacing: 0.1rem;
      margin: 0 0.2rem;
    }
    &::after {
      content: '%';
    }
    &:focus-within {
      background: var(--warn);
      & input {
        background: var(--warn);
        outline: none;
        &::placeholder {
          color: var(--bg-1);
        }
      }
      & label,
      & input,
      &::after {
        color: var(--bg-1);
      }
    }
  }
  & .date {
    grid-area: d;
    justify-self: center;
    text-align: center;
  }
}

.lg-input-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: var(--bor-rad);
  & input {
    font-size: 1.6rem;
    background: transparent;
    &:focus {
      border: none;
      outline: none;
    }
  }
  &:focus-within {
    background: var(--fc-1);
    & label,
    & input {
      color: var(--bg-1) !important;
    }
    & input ::placeholder {
      color: var(--bg-2);
    }
  }
}

.with-fee {
  & .quote,
  & .fee {
    & label,
    & input,
    &::after {
      color: var(--warn);
      font-style: italic;
    }
  }
}
